<div id="vars" class="container-vars" style="display: none;">
	{
		"isSingleColumnOfPostList": {{.Site.Params.isSingleColumnOfPostList}},
		"hasFoldAllCodeBlocks": {{.Site.Params.hasFoldAllCodeBlocks}},
		"svgColor": "{{.Site.Params.svg.color}}",
		"en": {{.Site.Params.en}},
		"dark": {{.Site.Params.dark}},
		"activeNeighborhood": "none",
		"activeOccasion": "none",
		"activeVibe": "none",
		"activeList": "none"
	}
</div>

<div id="city-vars" class="container-vars" style="display: none;">
	{
		"new york city": true
	}
</div>

<div id="neighborhood-vars" class="container-vars" style="display: none;">
	{
		"manhattan-district1": false,
		"manhattan-district2": false,
		"manhattan-district3": false,
		"manhattan-district4": false,
		"manhattan-district5": false,
		"manhattan-district7": false,
		"manhattan-district8": false,
		"brooklyn-district2": false,
		"brooklyn-district6": false
	}
</div>

<div id="occasion-vars" class="container-vars" style="display: none;">
	{
		"big group": false,
		"birthday dinner": false,
		"special occasion": false,
		"work dinner": false,
		"fast casual quick lunch": false,
		"bakery": false,
		"impress visitors": false,
		"date night": false,
		"parents in town": false,
		"small group": false,
		"walk-in last minute": false,
		"pizza": false,
		"brunch": false,
		"bar seating solo dining": false,
		"day drink patio pounders": false,
		"wine bar": false,
		"cocktail bar": false,
		"oysters happy hour": false,
		"people watching": false,
		"tasting menu": false
	}
</div>

<div id="vibe-vars" class="container-vars" style="display: none;">
	{
		"trendy see and be seen": false,
		"unassuming": false,
		"divey casual": false,
		"institution": false,
		"boujee pretend youre rich": false,
		"pretentious": false,
		"drop dimes": false,
		"cheap cheerful": false,
		"tried true": false,
		"phone eats first": false,
		"family style": false,
		"fun different": false,
		"ugly delicious": false,
		"rainy day food for the soul": false,
		"high energy": false,
		"low-key": false,
		"friendly staff welcoming": false,
		"quick table turnover": false,
		"close quarters": false,
		"dj cooking": false,
		"diner": false,
		"warm cozy": false,
		"open airy": false,
		"its giving romance": false,
		"patio action garden seating": false,
		"rooftop sauce": false,
		"aprés ski": false,
		"tropical beach club": false,
		"european": false,
		"clean modern": false
	}
</div>