<div class="menu">

    <!-- Search -->
    {{ with index .Site.Params.menu "01"}}
        <div class="item">
            <a href={{.path}}>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 655 512"><style>svg{fill:#776f62}</style><path d={{.svg}}/></svg>
                {{.en}}
            </a>
        </div>    
    {{ end }}

    <!-- About, Hello -->
    {{ with index .Site.Params.menu "77"}}
        <div class="item">
            <a href={{.path}}>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 655 512"><style>svg{fill:#776f62}</style><path d={{.svg}}/></svg>
                {{.en}}
            </a>
        </div>    
    {{ end }}
    {{ with index .Site.Params.menu "88"}}
        <div class="item">
            <a href={{.path}}>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 655 512"><style>svg{fill:#776f62}</style><path d={{.svg}}/></svg>
                {{.en}}
            </a>
        </div>    
    {{ end }}

</div>