<!-- Set up empty arrays -->
{{ $cityposts := slice }}
{{ $neighborhoodposts := slice }}
{{ $occasionposts := slice }}
{{ $vibeposts := slice }}

<!-- Filter through all posts and pull out the ones that match filters. -->
{{ $posts := where .allposts "Section" "!=" "bytrip"}}
{{ range $post := $posts }}
    <!-- Filter by city -->
    {{ range $city := .Params.bycity }}
        {{ if in $.filtercities $city }}
            {{ $cityposts = append $post $cityposts }}
        {{ end }}
    {{ end }}

    <!-- Filter by neighborhood -->
    {{ range $neighborhood := .Params.byneighborhood }}
        {{ if in $.filterneighborhoods $neighborhood }}
            {{ $neighborhoodposts = append $post $neighborhoodposts }}
        {{ end }}
    {{ end }}

    <!-- Filter By Occasion -->
    {{ range $occasion := .Params.byoccasion }}
        {{ if in $.filteroccasions $occasion }}
            {{ $occasionposts = append $post $occasionposts }}
        {{ end }}
    {{ end }}

    <!-- Filter By Vibe -->
    {{ range $vibe := .Params.byvibe }}
        {{ if in $.filtervibes $vibe }}
            {{ $vibeposts = append $post $vibeposts }}
        {{ end }}
    {{ end }}

{{ end }}

<!-- Apply intersections (also removes duplicates) -->
{{ $pages := slice }}
<!-- Apply City filters -->
{{ if ne (len $.filtercities) 0}}
    {{ $pages = $cityposts }}
    {{ if ne (len $.filterneighborhoods) 0 }}
        {{ $pages = intersect $pages $neighborhoodposts }}
    {{ end }}

    {{ if ne (len $.filteroccasions) 0 }}
        {{ $pages = intersect $pages $occasionposts }}
    {{ end }}

    {{ if ne (len $.filtervibes) 0 }}
        {{ $pages = intersect $pages $vibeposts}}
    {{ end }}    

<!-- No Cities to filter so we do all Cities -->
{{ else }}
    {{ if ne (len $.filterneighborhoods) 0 }}
        {{ $pages = $neighborhoodposts }}
        {{ if ne (len $.filteroccasions) 0 }}
            {{ $pages = intersect $pages $occasionposts }}
        {{ end }}

        {{ if ne (len $.filtervibes) 0 }}
            {{ $pages = intersect $pages $vibeposts}}
        {{ end }}
    
    <!-- No Neighborhoods to filter so we do all Neighborhoods -->
    {{ else }}
        {{ if ne (len $.filteroccasions) 0 }}
            {{ $pages = $occasionposts }}
            {{ if ne (len $.filtervibes) 0 }}
                {{ $pages = intersect $pages $vibeposts}}
            {{ end }}
        
        <!-- No Occasions to filter so we assume all Occasions -->
        {{ else }}
            {{ if ne (len $.filtervibes) 0 }}
                {{ $pages = $vibeposts }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ range $pages }}
    <div class="item">
        <a href="{{.Permalink}}" style="background-image: url({{ .Params.background_image }}); background-size: cover; background-repeat: no-repeat; background-position: center; position: relative;">
            <span> {{.Title}} </span>
        </a>
    </div>
{{ else }}
    <span>no dice!</span>
{{ end }}