<!-- Support Filter Combinations -->
{{ $supportedCities := slice "new york city" "cdmx" }}
{{ $supportedNeighborhoods := slice "east village" "lower east side" "chelsea" "west village" "williamsburg" "noho" "nolita" "soho" "south brooklyn" }}
{{ $supportedOccasions := slice "date night" "Trendy" }}
{{ $supportedVibes := slice "See And Be Seen" }}

<!-- All Combintations of Cities -->
<!-- Total Cities: 2 -->
<!-- {{ $citycombinations := dict }}
{{ range $city1 := site.Taxonomies.bycity }}
    {{ $city1Name := $city1.Page.LinkTitle }}
    {{ $city1Slice := slice $city1Name }}
    {{ $city1KeyPreSort := split $city1Name " " }}
    {{ $city1Key := sort $city1KeyPreSort }}
    {{ $city1Key = delimit $city1Key "-"}}
    {{ $city1Key = string $city1Key }}
    {{ $citycombinations = merge $citycombinations (dict $city1Key $city1Slice) }}
    
    {{ range $city2 := site.Taxonomies.bycity }}
        {{ $city2Name := $city2.Page.LinkTitle }}
        {{ $city2Slice := slice $city1Name $city2Name }}
        {{ $city2Slice = sort $city2Slice }}
        {{ $city2Slice = uniq $city2Slice }}

        {{ if eq (len $city2Slice) 2 }}
            {{ $city2KeyPreSort := split $city2Name " "}}
            {{ $city2KeyPreSort = append $city1KeyPreSort $city2KeyPreSort }}
            {{ $city2Key := sort $city2KeyPreSort }}
            {{ $city2Key = delimit $city2Key "-" }}
            {{ $city2Key = string $city2Key }}
            {{ $citycombinations = merge $citycombinations (dict $city2Key $city2Slice) }}
        {{ end }}
    {{ end }}
{{ end }} -->

<!-- All Combintations of Neighborhoods -->
<!-- Total Neighborhoods: 4 -->
{{ $neighborhoodcombinations := dict }}
<!-- Neighborhood 1 Loop -->
{{ range $neighborhood1 := site.Taxonomies.byneighborhood }}
    {{ $neighborhood1Name := $neighborhood1.Page.LinkTitle }}
    {{ if in $supportedNeighborhoods $neighborhood1Name }}
    {{ $neighborhood1Slice := slice $neighborhood1Name }}
    {{ $neighborhood1KeyPreSort := split $neighborhood1Name " " }}
    {{ $neighborhood1Key := sort $neighborhood1KeyPreSort }}
    {{ $neighborhood1Key = delimit $neighborhood1Key "-" }}
    {{ $neighborhood1Key = string $neighborhood1Key }}
    {{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict $neighborhood1Key $neighborhood1Slice) }}

    <!-- Neighborhood 2 Loop -->
    {{ range $neighborhood2 := site.Taxonomies.byneighborhood }}
        {{ $neighborhood2Name := $neighborhood2.Page.LinkTitle }}
        {{ if in $supportedNeighborhoods $neighborhood2Name }}
        {{ $neighborhood2Slice := slice $neighborhood1Name $neighborhood2Name }}
        {{ $neighborhood2Slice = sort $neighborhood2Slice }}
        {{ $neighborhood2Slice = uniq $neighborhood2Slice }}
        
        {{ if eq (len $neighborhood2Slice) 2 }}
            {{ $neighborhood2KeyPreSort := split $neighborhood2Name " " }}
            {{ $neighborhood2KeyPreSort = append $neighborhood1KeyPreSort $neighborhood2KeyPreSort }}
            {{ $neighborhood2Key := sort $neighborhood2KeyPreSort }}
            {{ $neighborhood2Key = delimit $neighborhood2Key "-" }}
            {{ $neighborhood2Key = string $neighborhood2Key }}
            {{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict $neighborhood2Key $neighborhood2Slice) }}

            <!-- Neighborhood 3 Loop -->
            {{ range $neighborhood3 := site.Taxonomies.byneighborhood}}
                {{ $neighborhood3Name := $neighborhood3.Page.LinkTitle }}
                {{ if in $supportedNeighborhoods $neighborhood3Name }}
                {{ $neighborhood3Slice := slice $neighborhood1Name $neighborhood2Name $neighborhood3Name }}
                {{ $neighborhood3Slice = sort $neighborhood3Slice }}
                {{ $neighborhood3Slice = uniq $neighborhood3Slice }}

                {{ if eq (len $neighborhood3Slice) 3 }}
                    {{ $neighborhood3KeyPreSort := split $neighborhood3Name " " }}
                    {{ $neighborhood3KeyPreSort = append $neighborhood2KeyPreSort $neighborhood3KeyPreSort }}
                    {{ $neighborhood3Key := sort $neighborhood3KeyPreSort }}
                    {{ $neighborhood3Key = delimit $neighborhood3Key "-" }}
                    {{ $neighborhood3Key = string $neighborhood3Key }}
                    {{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict $neighborhood3Key $neighborhood3Slice) }}

                    <!-- Neighborhood 4 Loop -->
                    {{ range $neighborhood4 := site.Taxonomies.byneighborhood }}
                        {{ $neighborhood4Name := $neighborhood4.Page.LinkTitle }}
                        {{ if in $supportedNeighborhoods $neighborhood4Name }}
                        {{ $neighborhood4Slice := slice $neighborhood1Name $neighborhood2Name $neighborhood3Name $neighborhood4Name }}
                        {{ $neighborhood4Slice = sort $neighborhood4Slice }}
                        {{ $neighborhood4Slice = uniq $neighborhood4Slice }}

                        {{ if eq (len $neighborhood4Slice) 4 }}
                            {{ $neighborhood4KeyPreSort := split $neighborhood4Name " " }}
                            {{ $neighborhood4KeyPreSort = append $neighborhood3KeyPreSort $neighborhood4KeyPreSort }}
                            {{ $neighborhood4Key := sort $neighborhood4KeyPreSort }}
                            {{ $neighborhood4Key = delimit $neighborhood4Key "-" }}
                            {{ $neighborhood4Key = string $neighborhood4Key }}
                            {{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict $neighborhood4Key $neighborhood4Slice) }}

                            <!-- Neighborhood 5 Loop -->
                            {{ range $neighborhood5 := site.Taxonomies.byneighborhood }}
                                {{ $neighborhood5Name := $neighborhood5.Page.LinkTitle }}
                                {{ if in $supportedNeighborhoods $neighborhood5Name }}
                                {{ $neighborhood5Slice := slice $neighborhood1Name $neighborhood2Name $neighborhood3Name $neighborhood4Name $neighborhood5Name }}
                                {{ $neighborhood5Slice = sort $neighborhood5Slice }}
                                {{ $neighborhood5Slice = uniq $neighborhood5Slice }}

                                {{ if eq (len $neighborhood5Slice) 5 }}
                                    {{ $neighborhood5KeyPreSort := split $neighborhood5Name " " }}
                                    {{ $neighborhood5KeyPreSort = append $neighborhood4KeyPreSort $neighborhood5KeyPreSort }}
                                    {{ $neighborhood5Key := sort $neighborhood5KeyPreSort }}
                                    {{ $neighborhood5Key = delimit $neighborhood5Key "-" }}
                                    {{ $neighborhood5Key = string $neighborhood5Key }}
                                    {{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict $neighborhood5Key $neighborhood5Slice) }}

                                    
                                {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ end }}
    {{ end }}
    {{ end }}
{{ end }}

<!-- All Combinations of Occasions -->
<!-- Total Occasions: 2 -->
{{ $occasioncombinations := dict }}
<!-- Occasion 1 Loop -->
{{ range $occasion1 := site.Taxonomies.byoccasion }}
    {{ $occasion1Name := $occasion1.Page.LinkTitle }}
    {{ if in $supportedOccasions $occasion1Name }}
    {{ $occasion1Slice := slice $occasion1Name }}
    {{ $occasion1KeyPreSort := split $occasion1Name " " }}
    {{ $occasion1Key := sort $occasion1KeyPreSort }}
    {{ $occasion1Key = delimit $occasion1Key "-" }}
    {{ $occasion1Key = string $occasion1Key }}
    {{ $occasioncombinations = merge $occasioncombinations (dict $occasion1Key $occasion1Slice) }}

    <!-- Occasion 2 Loop -->
    {{ range $occasion2 := site.Taxonomies.byoccasion }}
    {{ $occasion2Name := $occasion2.Page.LinkTitle }}
    {{ if in $supportedOccasions $occasion2Name }}
    {{ $occasion2Slice := slice $occasion1Name $occasion2Name }}
    {{ $occasion2Slice = sort $occasion2Slice }}
    {{ $occasion2Slice = uniq $occasion2Slice }}

    {{ if eq (len $occasion2Slice) 2 }}
        {{ $occasion2KeyPreSort := split $occasion2Name " " }}
        {{ $occasion2KeyPreSort = append $occasion1KeyPreSort $occasion2KeyPreSort }}
        {{ $occasion2Key := sort $occasion2KeyPreSort }}
        {{ $occasion2Key = delimit $occasion2Key "-" }}
        {{ $occasion2Key = string $occasion2Key }}
        {{ $occasioncombinations = merge $occasioncombinations (dict $occasion2Key $occasion2Slice) }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
{{ end }}

<!-- All Vibe Combinations -->
<!-- Total Vibes: 1 -->
{{ $vibecombinations := dict }}
<!-- Vibe 1 Loop -->
{{ range $vibe1 := site.Taxonomies.byvibe }}
    {{ $vibe1Name := $vibe1.Page.LinkTitle }}
    {{ if in $supportedVibes $vibe1Name }}
    {{ $vibe1Slice := slice $vibe1Name }}
    {{ $vibe1KeyPreSort := split $vibe1Name " " }}
    {{ $vibe1Key := sort $vibe1KeyPreSort }}
    {{ $vibe1Key = delimit $vibe1Key "-" }}
    {{ $vibe1Key = string $vibe1Key }}
    {{ $vibecombinations = merge $vibecombinations (dict $vibe1Key $vibe1Slice) }}

    <!-- Vibe 2 Loop -->
    {{ end }}
{{ end }}

<!-- Add Empty Slices -->
{{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict "NoNeighborhood" slice ) }}
{{ $occasioncombinations = merge $occasioncombinations (dict "NoOccasion" slice ) }}
{{ $vibecombinations = merge $vibecombinations (dict "NoVibe" slice ) }}

<!-- Generate All Combinations -->
{{ range $neighborhoodKey, $neighborhoodValue := $neighborhoodcombinations }}
    {{ range $occasionKey, $occasionValue := $occasioncombinations }}
        {{ range $vibeKey, $vibeValue := $vibecombinations }}
            {{ $divKey := slice $neighborhoodKey $occasionKey $vibeKey }}
            {{ $divKey = delimit $divKey "-" }}
            {{ $divKey = string $divKey }}
            <div id="{{$divKey}}" class="list">
                {{ $filtercities := (slice "new york") }}
                {{ $filters := (dict 
                    "allposts" site.RegularPages 
                    "filtercities" $filtercities
                    "filterneighborhoods" $neighborhoodValue
                    "filteroccasions" $occasionValue
                    "filtervibes" $vibeValue) }}

                {{ partial "partials/apply-search-filters.html" $filters }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}

