<!-- Support Filter Combinations -->
{{ $supportedCities := slice "new york city" "cdmx" }}

{{ $manhattanDistricts := dict 
    "manhattan-district1" (slice "tribeca" "fidi" "chinatown")
    "manhattan-district2" (slice "west village" "soho" "noho" "nolita")
    "manhattan-district3" (slice "east village" "lower east side")
    "manhattan-district4" (slice "chelsea" "hell's kitcken")
    "manhattan-district5" (slice "union square" "koreatown" "midtown")
    "manhattan-district7" (slice "upper west side")
    "manhattan-district8" (slice "upper east side")
    "brooklyn-district2" (slice "williamsburg" "greenpoint")
    "brooklyn-district6" (slice "south brooklyn" "redhook")
}}

{{ $supportedOccasions := slice 
    "big group"
    "birthday dinner"
    "special occasion"
    "work dinner"
    "fast casual • quick lunch"
    "bakery"
    "impress visitors"
    "date night"
    "parents in town"
    "small group"
    "walk-in • last minute"
    "brunch"
    "bar seating • solo dining"
    "day drink • patio pounders"
    "wine bar"
    "cocktail bar"
    "oysters • happy hour"
    "tasting menu"
    "people watching"
    "pizza"
}}
{{ $supportedVibes := slice 
    "trendy • see and be seen"
    "divey • casual"
    "institution"
    "boujee • pretend you're rich"
    "cheap & cheerful"
    "tried & true"
    "phone eats first"
    "family style"
    "fun & different"
    "ugly delicious"
    "rainy day • food for the soul"
    "high energy"
    "low-key"
    "friendly staff • welcoming"
    "diner"
    "warm • cozy"
    "it's giving romance"
    "patio action • garden seating"
    "aprés ski"
    "european"
}}
{{ $unsupportedVibes := slice 
    "pretentious"
    "unassuming"
    "$$$$ • drop dimes"
    "quick table turnover"
    "close quarters" 
    "dj is cooking with gas"
    "open • airy"
    "rooftop sauce"
    "tropical • beach club"
    "clean • modern"
}}

<!-- All Combintations of Cities -->
<!-- Total Cities: 2 -->
<!-- {{ $citycombinations := dict }}
{{ range $city1 := site.Taxonomies.bycity }}
    {{ $city1Name := $city1.Page.LinkTitle }}
    {{ $city1Slice := slice $city1Name }}
    {{ $city1KeyPreSort := split $city1Name " " }}
    {{ $city1Key := sort $city1KeyPreSort }}
    {{ $city1Key = delimit $city1Key "-"}}
    {{ $city1Key = string $city1Key }}
    {{ $citycombinations = merge $citycombinations (dict $city1Key $city1Slice) }}
    
    {{ range $city2 := site.Taxonomies.bycity }}
        {{ $city2Name := $city2.Page.LinkTitle }}
        {{ $city2Slice := slice $city1Name $city2Name }}
        {{ $city2Slice = sort $city2Slice }}
        {{ $city2Slice = uniq $city2Slice }}

        {{ if eq (len $city2Slice) 2 }}
            {{ $city2KeyPreSort := split $city2Name " "}}
            {{ $city2KeyPreSort = append $city1KeyPreSort $city2KeyPreSort }}
            {{ $city2Key := sort $city2KeyPreSort }}
            {{ $city2Key = delimit $city2Key "-" }}
            {{ $city2Key = string $city2Key }}
            {{ $citycombinations = merge $citycombinations (dict $city2Key $city2Slice) }}
        {{ end }}
    {{ end }}
{{ end }} -->

<!-- All Combintations of Neighborhoods -->
<!-- Total Neighborhoods: 4 -->
{{ $neighborhoodcombinations := dict }}
{{ $neighborhoodcombinations = merge $neighborhoodcombinations $manhattanDistricts }}

<!-- All Combinations of Occasions -->
<!-- Total Occasions: 2 -->
{{ $occasioncombinations := dict }}
<!-- Occasion 1 Loop -->
{{ range $occasion1 := site.Taxonomies.byoccasion }}
    {{ $occasion1Name := $occasion1.Page.LinkTitle }}
    {{ if in $supportedOccasions $occasion1Name }}
    {{ $occasion1Slice := slice $occasion1Name }}
    {{ $occasion1KeyPreSort := split $occasion1Name " " }}
    {{ $occasion1Key := sort $occasion1KeyPreSort }}
    {{ $occasion1Key = delimit $occasion1Key "-" }}
    {{ $occasion1Key = string $occasion1Key }}
    {{ $occasioncombinations = merge $occasioncombinations (dict $occasion1Key $occasion1Slice) }}

    {{ end }}
{{ end }}

<!-- All Vibe Combinations -->
<!-- Total Vibes: 1 -->
{{ $vibecombinations := dict }}
<!-- Vibe 1 Loop -->
{{ range $vibe1 := site.Taxonomies.byvibe }}
    {{ $vibe1Name := $vibe1.Page.LinkTitle }}
    {{ if in $supportedVibes $vibe1Name }}
    {{ $vibe1Slice := slice $vibe1Name }}
    {{ $vibe1KeyPreSort := split $vibe1Name " " }}
    {{ $vibe1Key := sort $vibe1KeyPreSort }}
    {{ $vibe1Key = delimit $vibe1Key "-" }}
    {{ $vibe1Key = string $vibe1Key }}
    {{ $vibecombinations = merge $vibecombinations (dict $vibe1Key $vibe1Slice) }}

    <!-- Vibe 2 Loop -->
    {{ end }}
{{ end }}

<!-- Add Empty Slices -->
{{ $neighborhoodcombinations = merge $neighborhoodcombinations (dict "NoNeighborhood" slice ) }}
{{ $occasioncombinations = merge $occasioncombinations (dict "NoOccasion" slice ) }}
{{ $vibecombinations = merge $vibecombinations (dict "NoVibe" slice ) }}

<!-- Generate All Combinations -->
{{ $numDivKeys := 0 }}
{{ range $neighborhoodKey, $neighborhoodValue := $neighborhoodcombinations }}
    {{ range $occasionKey, $occasionValue := $occasioncombinations }}
        {{ range $vibeKey, $vibeValue := $vibecombinations }}
        {{ $numDivKeys = add $numDivKeys 1 }}
            {{ $divKey := slice $neighborhoodKey $occasionKey $vibeKey }}
            {{ $divKey = delimit $divKey "-" }}
            {{ $divKey = string $divKey }}
            <!-- Remove special characters from div keys -->
            {{ $divKey = replace $divKey "'" "" }}
            {{ $divKey = replace $divKey "•" "" }}
            {{ $divKey = replace $divKey "&" "" }}
            {{ $divKey = replace $divKey "$$$$-" "" }}
            {{ $divKey = replace $divKey "--" "-" }}

            <div id="{{$divKey}}" class="list">
                {{ $filtercities := (slice "new york") }}
                {{ $filters := (dict 
                    "allposts" site.RegularPages 
                    "filtercities" $filtercities
                    "filterneighborhoods" $neighborhoodValue
                    "filteroccasions" $occasionValue
                    "filtervibes" $vibeValue) }}

                {{ partial "partials/apply-search-filters.html" $filters }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}

