

{{ if eq .Page.Type "bytrip"}}
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fEVwufxstTHbXnx8MQ5wiidYRWu1Q_k&ehbc=2E312F" width="640" height="480"></iframe>
{{ else if eq .Page.Type "bycity"}}
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1EWRBGDfM0Jfktves9WINGrT8xaz7-Ds&ehbc=2E312F" width="640" height="480"></iframe>
{{ else if eq .Page.Type "byneighborhood"}}
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1lAfI5gd5NZqJ0mhB3aRLVa014GiOOYg&ehbc=2E312F" width="640" height="480"></iframe>
{{ else if eq .Page.Type "byoccasion"}}
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-uzm-_K1LLIigrKS7z9iulH4E6_gPK0&ehbc=2E312F" width="640" height="480"></iframe>
{{ else if eq .Page.Type "byvibe"}} 
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1l09smgPwu_W2lnJypkHtpmzx4eff7es&ehbc=2E312F" width="640" height="480"></iframe>
{{ else if eq .Page.Type "bestof"}}
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1HWltyFKYzeR0Rv8J8I2gbJaDUOb2-rM&ehbc=2E312F" width="640" height="480"></iframe>   
{{ else if eq .Page.Type "byvibe"}}
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UdgUVf8cxVnoDrZkHu12jHwLmteoDqk&ehbc=2E312F" width="640" height="480"></iframe>     
{{ end }}