#footer {
    background: $footer-bg-color;
    padding: 16px 0 32px 0;
    padding: 16px $site-padding-lr 32px;

    border-top: 1px solid #eee;
    .container-footer {
        font-family: $font-family--title;
        font-weight: bold;

        .menu {
            padding-top: 8px;
            padding-bottom: 10px;
            font-family: $font-family--base;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: 0.14rem;
            .item {
                a {
                    display: flex;
                    margin: 4px 8px 4px 0px;
                    padding: 8px;
                    background: $gray-white-400;
                    border-radius: 6px;
                    text-align: center;
                    align-items: center;
                    border: 1px solid transparent;
                    
                    &:hover {
                        text-decoration: none;
                        border: 1px solid $gray-500
                    }
        
                    svg {
                        padding-right: 5px;
                    }
                }
            }

            @media screen and (max-width: 550px) {
                justify-content: center;
            }
        }
    }
}
