#header {
    font-family: $font-family--title;
    font-weight: bold;
    border-color: none;

    z-index: 1000;
    position: sticky;
    top: -85px;
    padding: 0 $site-padding-lr;

    &.js-header {
        transition: .2s background-color linear;
        background-color: $white-500;
        backdrop-filter: blur(5px);
        backdrop-filter: saturate(180%) blur(5px); // saturate(180%)
    }

    .container-header {
        .slogan {
            font-family: $font-family--handwriting;
            font-size: .18rem;
            font-weight: normal;
            display: flex;
            align-items: flex-start;
            padding-bottom: 16px;

            a {
                display: flex;
                align-items: center;
                cursor: pointer; 

                svg {
                    padding: 5px 5px;
                }
            }

            @media screen and (max-width: 500px) {
                font-size: .17rem;
                padding-top: 4px;
            }
            @media screen and (max-width: 475px) {
                font-size: .16rem;
                padding-top: 8px;
            }
            @media screen and (max-width: 450px) {
                font-size: .15rem;
                padding-top: 12px;
            }
            @media screen and (max-width: 425px) {
                padding-top: 16px;
            }
            @media screen and (max-width: 400px) {
                padding-top: 20px;
            }
            @media screen and (max-width: 375px) {
                padding-top: 24px;
            }
            @media screen and (max-width: 350px) {
                padding-top: 28px;
            }
        }

        .menu {
            padding-top: 8px;
            padding-bottom: 10px;
            font-family: $font-family--base;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: 0.14rem;
            .item {
                a {
                    display: flex;
                    margin: 4px 8px 4px 0px;
                    padding: 8px;
                    background: $gray-white-400;
                    border-radius: 6px;
                    text-align: center;
                    align-items: center;
                    border: 1px solid transparent;
                    
                    &:hover {
                        text-decoration: none;
                        border: 1px solid $gray-500
                    }
        
                    svg {
                        padding-right: 5px;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                font-size: .13rem;
            }
            @media screen and (max-width: 475px) {
                font-size: .12rem;
            }
            @media screen and (max-width: 450px) {
                font-size: .11rem;
            }
            @media screen and (max-width: 425px) {
                font-size: .1rem;
            }
            @media screen and (max-width: 400px) {
                // font-size: .08rem;
            }
            @media screen and (max-width: 375px) {
            }
            @media screen and (max-width: 350px) {
            }
        }

        .container-breadcrumb-nav {
            padding-bottom: 8px;

            .breadcrumb-nav-bar {
                display: flex;
                font-size: 0.12rem;

                a {
                    white-space: break-spaces;
                    overflow: hidden;
                    height: 18px;

                    display: block;
                    color: rgba(90,41,228, .8);
                    background: $gray-white-300;
                    margin-right: 8px;
                    padding: 4px 8px;
                    border-radius: 0 12px 0 8px;
                }

                .active a {
                    color: #5a29e4;
                }
            }
        }

        #toc {
            display: none;
        }
    }
}
